<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<div class="main-form-div">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit %>
  <% end %>
</div>
