<div>
  <h1>All cocktails!</h1>
  <%= link_to 'Create new cocktail!', new_cocktail_path %>
</div>
<div>
  <div>
    <% @cocktails.each do |cocktail| %>
    <div>
    <%= link_to cocktail_path(cocktail) do %>
      <div>
        <div><%= image_tag "https://www.acouplecooks.com/wp-content/uploads/2019/09/Whiskey-Sour-111s.jpg" %> </div>
        <div><%= cocktail.name %></div>
      </div>
    <% end %>
    </div>
    <% end %>
  </div>
</div>
