// Specific CSS for your home-page

body {
  background-color: grey;
}

h1 {
  color: white;
}

.cocktail_icon {
  height: 200px;
  width: 200px;
}

#cocktails_container {
  height: auto;
  background-image: asset-url('home_background.jpg');
  background-size: cover;
}

.cocktails_box {
  width: auto;
  display: inline-block;
}
