// Specific CSS for your home-page

body {
  background-color: grey;
  background-image: asset-url('home_background.jpg');
}

h1 {
  color: white;
}

.cocktail_icon {
  height: 200px;
  width: 200px;
}

#cocktail {
  height: 250px;
  width: 220px;
  border: solid;
}