#create-cocktail {
  background-image: image-url('create_background.jpg');
  background-size: cover;
  width: 100%;
  padding: 48px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  min-height: calc(100vh - 104px);
}
