#create-cocktail {
  display: flex;
  background-image: image-url('create_background.jpg');
  background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: calc(100vh - 104px);
}
