<div class="footer">
  <ul class='list-inline'>
    <li><a class='social-link' href="https://github.com/PawelDa" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a class='social-link' href="https://www.linkedin.com/in/paweldabkowski" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a class='social-link' href="mailto:paweldabkowski0@gmail.com?subject=Add Subject" target="_blank"><i class="fas fa-paper-plane"></i></a></li>
  </ul>
</div>
