#main-section {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 104px);
  background-image: image-url('home_background.jpg');
  background-size: cover;
  color: rgb(240, 240, 240);
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

#welcome-message {
  padding: 24px;
  h1 {
    color: rgb(240, 240, 240);
    text-shadow: 3px 3px 3px black;
    font-size: 45px;
  }
}

#coctails-container {
  display: flex;
  justify-content: space-evenly;
}

.cocktail-card {
  text-decoration: none;
  border: solid  rgb(200, 200, 200);
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  height: fit-content;
  width: fit-content;

  img {
    height: 200px;
    width: 200px;

  }
  div {
    display: flex;
    width: 200px;
    height: 32px;
    background: rgb(140, 140, 140);
    color: white;
    h3 {
      font-size: 16px;
      margin: auto;
    }
  }
}

.cocktail-card:hover {
  border: solid rgb(80, 80, 80);

  div {
    background-color: rgb(80, 80, 80);
  }
}