.navbar-buttons {
  width: 176px;
  height: 48px;
  text-decoration: none;
  color: white;
  background-color:rgb(140, 140, 140);
  padding: 8px 24px;
  border-radius: 4px;
  text-align: center;
  margin: 8px;
  font-size: 16px;
}

.navbar-buttons:hover {
  text-decoration: none;
  background-color: rgb(80, 80, 80);
  color: white;
}

#shuffle_button {
  background-image: image-url('dice.png');
  background-size: 48px 34px;
  background-position: center;
  width: 200x;
  height: 48px;
  background-color:rgb(140, 140, 140);
  padding: 8px 24px;
  border-radius: 4px;
  margin: 8px;
}

#shuffle_button:hover {
  background-color: rgb(80, 80, 80);
}
